
<body>
    <header>
        <a href="/#/"><img class="img-left" src="images/logo.png" /></a>
    </header>
    <nav class="navbar navbar-expand-sm navbar-light">

        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#collapsingNavbar4"><span class="navbar-toggler-icon"></span></button>
        <div class="navbar-collapse collapse" id="collapsingNavbar4">
            <ul class="navbar-nav ml-auto">
                <li ng-if="validUser==true" class="user-info">Welcome, {{currentUser}} |</li>
                <li class="nav-item"><a class="nav-link" href="/#/">Home</a></li>
                <li ng-if="validUser==false" class="nav-item"><a class="nav-link" href="/#/signUp">Sign Up</a></li>
                <li ng-if="validUser==false" class="nav-item"><a class="nav-link" href="/#/signIn">Sign In</a></li>
                <li ng-if="validUser==true&&admin==false" class="nav-item"><a class="nav-link" href="/#/Cart">My Cart</a></li>
                <li ng-if="validUser==true&&admin==false" class="nav-item"><a class="nav-link" href="/#/Orders">My Orders</a></li>
                <li ng-if="validUser==true" class="nav-item"><a class="nav-link" href="" ng-click="logout()">Signout</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h1 class="my-4">Autoparts</h1>
                <p>Your one-stop shop</p>
                <hr />
            </div>
            <div class="col-lg-9">

                <h1>Remove Item</h1>
                <p>
                    Are you sure you want to remove this?
                </p>
                <ul>
                    <li>Title: {{item.name}}</li>
                    <li>Description: {{item.part_no}}</li>
                </ul>
                <input type="button" value="Yes" class="btn btn-danger" ng-click="delete()" />
                <a class="btn btn-default" href="/#/bin">No</a>
            </div>
        </div>
    </div>
</body>
